<h1>Welcome to Restaurant Reviews!</h1>
<h2>This is one of the sample applications for <%= link_to 'my portfolio', 'http://portfolio0906.herokuapp.com/', target: '_blank' %>, which are developed with the Ruby on Rails framework.</h2>