<h1>Welcome to Restaurant Reviews!</h1>
<h2>This is one of the sample applications for <a href="http://portfolio0906.herokuapp.com/" target="_blank">my portfolio</a>, which are developed with the Ruby on Rails framework.</h2>